<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand">Library</a>
    <div class="col-md-8 col-menu">
      <div class="wrapper-menu" data-aos="fade-down" data-aos-once="true" data-aos-duration="1000">
          <ul>
              <li>
                  <a routerLink="/author" routerLinkActive="is-active">Authors</a>
              </li>
              <li>
                  <a routerLink="/books" routerLinkActive="is-active">Books</a>
              </li>
            
          </ul>
      </div>
  </div>
  </nav>