$color-primary: #73BD1E;
$color-white: #FFFFFF;
$color-background: #E9ECEF;
$color-black: #000000;
$color-white: #FFFFFF;
$color-red: #E74C3C;
$color-orange: #FE9901;
$color-green: #73BD1E;

$color-light-grey: #FBFBFB;
$color-grey: #666666;
$color-border-grey: #E5E5E5;
$color-shaping-ideas: #F7F7F7;

$color-circle-border: #5B5B5B;

$color-background-apply: #F5F5F5;

$color-background-footer: #222222;
$color-footer: #D0D0D0;
$color-footer-heading: #A9A9A9;

$color-thead: #E9ECEF;